  <ul>
    <li *ngFor="let task of tasks">
      <div>
        <label>Url:</label>
        <input [(ngModel)]="task.Url" placeholder="url"/>
      </div>
      <div>
        <label>Template:</label>
        <input [(ngModel)]="task.Template" placeholder="template"/>
      </div>
    </li>
  </ul>
  <button (click)="updateResults()">Get Results</button>
  <ul>
    <li *ngFor="let result of results">
      <div>
        <label>Uri:</label>
        {{result.Uri}}
      </div>
      <div>
        <label>FileName:</label>
        {{result.FileName}}
      </div>
      <div>
        <label>State:</label>
        {{state[result.State]}}
      </div>
    </li>
  </ul>
