<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <!-- Define Assemblies-->
  <assembly name="TechHome.Services" />
  <!-- End Assemblies-->
  <!-- Define Namespaces-->
  <namespace name="TechHome.Services" />
  <!-- End Namespaces-->
  <container>
    <register type="TechHome.Services.Downloaders.IDownloader,TechHome.Services" mapTo="TechHome.Services.Downloaders.WebDownloader,TechHome.Services" />
    <register type="TechHome.Services.Tasks.ITask,TechHome.Services" mapTo="TechHome.Services.Tasks.CLTask,TechHome.Services" />
  </container>
</unity>