<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <script src="~/Scripts/system.src.js"></script>
    <script src="~/Scripts/rx.js"></script>
    <script src="~/Scripts/angular2.js"></script>
    <script src="~/Scripts/angular2-polyfills.js"></script>
    <script src="~/Scripts/http.js"></script>
    <script src="~/Scripts/router.js"></script>
    <!-- Configure SystemJS -->
    <script>
        let local_path= '../../Areas/WebSpider/';
            System.config({
                packages: {
                    apps: {
                        format: 'register',
                        defaultExtension: 'js'
                    }
                },
                baseURL: local_path
            });
            System.import('apps/main')
                  .then(null, console.error.bind(console));
    </script>
</head>
<body>
    <div class="container body-content">
        @RenderBody()
    </div>
</body>
</html>
