<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TechHome.Services.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <TechHome.Services.Properties.Settings>
            <setting name="PagesFolder" serializeAs="String">
                <value>Pages</value>
            </setting>
            <setting name="DownloadsFolder" serializeAs="String">
                <value>Downloads</value>
            </setting>
            <setting name="Downloader" serializeAs="String">
                <value>WebDownloader</value>
            </setting>
        </TechHome.Services.Properties.Settings>
    </applicationSettings>
</configuration>