@section title{
    Angular2 Version
}
@section scripts{
    @Html.Partial("_DefineAngular")
    <script>
        System.import('app/main');
    </script>
}
@*<todolist class="todolistcontent">
    <div class="waitloading">
        loading...
    </div>
</todolist>*@
<web-spider>
    play
</web-spider>