@section title{
    Angular2 Version
}
@section scripts{
    @Html.Partial("_DefineAngular")
    <script>
        System.import('app/boottodolist');
    </script>
}
<todolist class="todolistcontent">
    <div class="waitloading">
        loading...
    </div>
</todolist>